{% extends "base.html" %}
{% load crispy_forms_tags %}


{% comment %} {% block head_title %}{% trans "Signup" %}{% endblock %} {% endcomment %}

{% block content %}
<div style="margin-left:20%;">
  {% comment %} <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p> {% endcomment %}


  <div style="width:40%">
  <h1>Sign Up</h1>
  <form class="signup"  method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% comment %} {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %} {% endcomment %}
    {% comment %} <button type="submit">{% trans "Sign Up" %} &raquo;</button> {% endcomment %}
    <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
  </div>
</div>

{% endblock %}
